* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../images/g1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.form {

background-image: url(../images/login-registration-form-free-psd-design.jpg);

min-height: 500px;

background-repeat: no-repeat;

background-position: center;

display: flex;

justify-content: space-around;

width: 50%;

margin: auto;

margin-top: 12%;
}

.left_form {

width: 40%;

padding-top: 5%;
}

.left_form h1 {

    margin-bottom: 26px;
}

.left_form p {
    color: #333333;
}

.left_form p a {
    text-decoration: none;
    color: #333333;

}

.l {
    padding: 10px 0 0 0;
}

.l input {
    width: 98%;
    margin-bottom: 25px;
    padding: 10px 0px 10px 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.l input:focus {
    outline: none;
}

.l input::placeholder {
    color: #333333;
}

.submit1 {
    background: #4a89dc;
    color: #fff;
    width: 100% !important;
    border: none !important;
    margin-top: 9px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.submit1:hover{
    background: #0a2b55;
    color: rgb(212, 201, 201);
}
.submit2:hover{
    background: #745702;
    color: rgb(212, 201, 201);
}
.icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.single_item {
    display: flex;
    align-items: center;
    width: 30%;
    background: #26b4e8;
    color: #fff;
    border-radius: 5px;
}

.single_item p {
    margin-left: 9px;
    width: 48%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.single_icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #13a0d4;
    color: #fff;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

.single_item1 {
    display: flex;
    align-items: center;
    width: 31%;
    background: #415e9c;
    color: #fff;
    border-radius: 5px;
}

.single_item1 p {
    margin-left: 9px;
    width: 48%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.single_icon1 {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #37518a;
    color: #fff;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

.single_item2 {
    display: flex;
    align-items: center;
    width: 30%;
    background: #d34a38;
    color: #fff;
    border-radius: 5px;
}

.single_item2 p {
    margin-left: 9px;
    width: 48%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.single_icon2 {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #c5352d;
    color: #fff;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

.single_icon2 a {
    text-decoration: none;
    color: #fff;
}

.single_icon1 a {
    text-decoration: none;
    color: #fff;
}

.single_icon a {
    text-decoration: none;
    color: #fff;

}

.span {
    display: flex;
    justify-content: space-between;
}

.span p {
    margin-top: 14px;
    color: #333333;
    font-size: 19px;
}

span {
    height: 2px;
    width: 30%;
    display: block;
    background: #cccccc;
    margin-top: 27px;
}


.right_form {
    
padding-top: 5%;
}

.right_form h1 {
    margin-bottom: 11px;
}

.right_form p {
    color: #333333;

}

.right_form p a {
    text-decoration: none;
    color: #333333;

}

.r {
    padding: 10px 0;
}

.r input {
    width: 98%;
    margin-bottom: 17px;
    padding: 10px 0px 10px 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.r input:focus {
    outline: none;
}

.r input::placeholder {
    color: #333333;
}

.submit2 {
    background: #f3b801;
    color: #fff;
    width: 100% !important;
    border: none !important;
    margin-top: 0px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}